<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="plugin" type="EFWCoreLib.CoreFrame.Plugin.PluginSectionHandler, EFWCoreLib.CoreFrame" />
  </configSections>
  <unity>
    <container>
    </container>
  </unity>
  <plugin name="MIProject.UI" version="1.0" title="医保接口项目客户端插件" author="xzb" plugintype="Winform" defaultdbkey="SQL2005" defaultcachekey="Cache Manager" isentry="1">
    <baseinfo>
      <data key="introduction" value="医保接口项目客户端插件" />
      <data key="updaterecord" value="" />
      <data key="headpic" value="" />
      <data key="StartItem" value="IntoTheHospitalManageController" />
    </baseinfo>
    <businessinfo>
      <dll name="HIS_MIInterface.Winform.dll" version="1.0" />
    </businessinfo>
    <issue>
    </issue>
    <setup>
    </setup>
    <menus>
    </menus>
  </plugin>
</configuration>